@inject AppInfoConfig AppInfoConfig
@inject IViewLocalizer Localizer
@inject RimDev.Stuntman.Core.StuntmanOptions StuntmanOptions

<!DOCTYPE html>
<html>
<head>
    <meta translate="no" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData.GetPageTitle()</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/select2.css" />
        <link rel="stylesheet" href="~/css/adminlte.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/fontawesome.css" />
        <link rel="stylesheet" href="~/css/skin-red.css" />
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/adminlte.js"></script>
        <script src="~/js/jquery.unobtrusive-ajax.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/bundles/main.min.css" asp-append-version="true" />
    </environment>

    @RenderSection("styles", required: false)

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-red sidebar-mini">
    <div class="wrapper">
        <vc:header-menu />
        <vc:navigation-menu />
        <div class="loading" id="loader" style="display:none"></div>
        <div class="content-wrapper">
            <partial name="_Alerts" />
            <section class="content-header clearfix">
                <h1 class="pull-left">@ViewData.GetPageTitle()</h1>
                @*Use this section to define main buttons. Use section to avoid repeating HTML*@
                <div class="pull-right">
                    @RenderSection("SectionButtons", required: false)
                </div>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>@Localizer[ResourceKeys.Version]</b> @AppInfoConfig.Version
            </div>
            @Localizer[ResourceKeys.Copyright, DateTime.UtcNow.Year, AppInfoConfig.DevelopersSite, AppInfoConfig.Developer]
        </footer>
    </div>
    <div id="modal-container" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    @*Invoke mini profiler tag helper*@
    <mini-profiler />

    <script>
        // Refactor with tag helper and separate .js file
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            var anchor = $(e.target),
                size = anchor.data("modal-size") || "";
            if (size) {
                $('#modalDialog').addClass("modal-" + size);
            }
            else {
                $('#modalDialog').prop("class", "modal-dialog");
            }
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });

        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
    </script>
    @RenderSection("scripts", required: false)
    @Html.Raw(StuntmanOptions.UserPicker(User))
</body>
</html>