@model UserDetailsModel
@inject IViewLocalizer Localizer

<div class="form-horizontal">
    <div class="panel-group">
        <div class="panel panel-default">            
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="FirstName"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.FirstName
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="LastName"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.LastName
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="Email"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.Email
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="EmailConfirmed"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <icon-condition asp-status="Model.EmailConfirmed"></icon-condition>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="PhoneNumber"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.PhoneNumber
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="LockoutEnabled"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <icon-condition asp-status="Model.LockoutEnabled"></icon-condition>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="AccessFailedCount"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.AccessFailedCount
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="LockoutEnd"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.LockoutEnd
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="IsActive"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <icon-condition asp-status="Model.IsActive"></icon-condition>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="CreationDateUtc"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.CreationDateUtc
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <div class="label-wrapper">
                            <label asp-for="LastUpdateDateUtc"></label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        @Model.LastUpdateDateUtc
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>