@model Cleaners.Web.Models.Users.UserCreateModel
@inject IViewLocalizer Localizer
@{
    ViewBag.PageTitle = Localizer[ResourceKeys.Users];
}

<script src="~/js/select2/select2.js"></script>
<script src="~/js/select2/locales/@Html.Raw(CultureInfo.CurrentCulture.ToString() + ".js")"></script>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Add new user</h3>
            </div>
            <div class="box-body">
                <form asp-action="Create" class="form-horizontal">
                    <partial name="_ValidationSummary" />
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="FirstName" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="LastName" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="LastName" class="form-control">
                                <span asp-validation-for="LastName" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="Email" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="UserName" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="UserName" class="form-control">
                                <span asp-validation-for="UserName" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="PhoneNumber" class="form-control">
                                <span asp-validation-for="PhoneNumber" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="RoleIds" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <select asp-for="RoleIds" asp-items="Model.Roles" class="form-control select2"></select>
                                <span asp-validation-for="RoleIds" class="text-error"></span>
                                <div asp-if="!Model.Roles.Any()" class="text-warning">@Localizer["empty.select.list.warning"]                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="Password" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="PasswordConfirmed" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="PasswordConfirmed" class="form-control">
                                <span asp-validation-for="PasswordConfirmed" class="text-error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="IsActive" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="IsActive">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="label-wrapper">
                                    <label asp-for="LockoutEnabled" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input asp-for="LockoutEnabled"> (@Localizer["lockout.enabled.info", 2])
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default btn-flat">
                            <i class="fa fa-times margin-r-5"></i>@Localizer[ResourceKeys.Cancel]
                        </button>
                        <button type="submit" class="btn btn-danger pull-right btn-flat">
                            <i class="fa fa-save margin-r-5"></i>@Localizer[ResourceKeys.Save]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#@Html.IdFor(m => m.RoleIds)').select2({
        placeholder: '@Localizer["select.roles"]',
        language: '@CultureInfo.CurrentCulture.ToString()'
    });
</script>