@model IEnumerable<Cleaners.Web.Models.Users.UserModel>
@inject IViewLocalizer Localizer
@{
    ViewBag.PageTitle = Localizer[ResourceKeys.Users];
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <a asp-route="@UserRoutes.Create">@Localizer["create"]</a>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>@Localizer[ResourceKeys.FirstName]</th>
                            <th>@Localizer[ResourceKeys.LastName]</th>
                            <th>th</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>Ok</td>
                            </tr>
                        }                        
                    </tbody>
                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>