@inject IViewLocalizer Localizer
@inject AppInfoConfig AppInfo

<header class="main-header">
    <a asp-route="@HomeRoutes.Index" class="logo">
        <span class="logo-mini"><b>@AppInfo.ShortName</b></span>
        <span class="logo-lg"><b>@AppInfo.FullName</b></span>
    </a>
    <nav class="navbar navbar-static-top" themify>
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"></a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-language"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">@Localizer[ResourceKeys.SelectLanguage]</li>
                        <li>
                            <ul class="menu">
                                @foreach (var item in LocalizationDefaults.GetSupportedCultures())
                                {
                                    <li>
                                        <a asp-route="@LocalizationRoutes.ChangeLanguage" asp-route-culture="@item.Name">
                                            <img alt="Flag image" src="~/img/flags/@item.Icon" /> @Localizer[item.DisplayName.ToLowerInvariant()]
                                        </a>
                                    </li>
                                }                               
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/img/users/user.png" class="user-image" alt="User Image">
                        <span class="hidden-xs">@User.Identity.Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/img/users/user.png" class="img-circle" alt="User Image">
                            <p>@User.Identity.Name</p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a asp-route="@AccountRoutes.Profile" class="btn btn-default btn-flat">@Localizer[ResourceKeys.Profile]</a>
                            </div>
                            <form asp-route="@AccountRoutes.Logout" id="logoutForm">
                                <div class="pull-right">
                                    <a id="logout" class="btn btn-default btn-flat">@Localizer[ResourceKeys.SignOut]</a>
                                </div>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            <script>
                $('#logout').click(function () {
                    $('#logoutForm').submit();
                });
            </script>
        </div>
    </nav>
</header>