@model IEnumerable<RoleModel>
@inject IViewLocalizer Localizer
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Localizer[ResourceKeys.Name]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <ul>
                        <li><a asp-route="@RoleRoutes.Update" asp-route-id="@item.Id" class="modal-link"><i class="fa fa-pencil"></i></a></li>
                        <li><a asp-route="@RoleRoutes.Delete" data-toggle="modal" data-target="#modal-container" asp-route-id="@item.Id"><i class="fa fa-trash text-error"></i></a></li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>