@model LoginModel
@inject IViewLocalizer Localizer
@inject Cleaners.Web.Infrastructure.AppSettings.AppInfoConfig AppInfo
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta translate="no"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Localizer[ResourceKeys.SignIn]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/main.min.css" />
    </environment>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo">
                <a>@AppInfo.FullName</a>
            </div>
            <form asp-action="Login">
                <input asp-for="ReturnUrl" type="hidden" />
                <partial name="_ValidationSummary" />
                <div class="form-group has-feedback">
                    <input asp-for="Username" class="form-control" />
                    <span class="fa fa-user form-control-feedback"></span>
                    <span asp-validation-for="Username" class="text-error"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" class="form-control" />
                    <span class="fa fa-lock form-control-feedback"></span>
                    <span asp-validation-for="Password" class="text-error"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <input asp-for="RememberMe" /> @Localizer[ResourceKeys.RememberMe]
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-danger btn-block btn-flat">
                            <i class="fa fa-sign-in margin-r-5"></i>
                            @Localizer[ResourceKeys.SignIn]
                        </button>
                    </div>
                </div>
            </form>            
            <div class="languages">
                @foreach (var item in LocalizationDefaults.GetSupportedCultures())
                {
                    <a asp-route="@LocalizationRoutes.ChangeLanguage" asp-route-culture="@item.Name">
                        <img alt="Flag image" src="~/img/flags/@item.Icon" title="@Localizer[item.DisplayName.ToLowerInvariant()]" />
                    </a>
                }
            </div>
        </div>
    </div>
</body>
</html>