@inject IViewLocalizer Localizer
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a asp-route="@HomeRoutes.Index">
                    <i class="fa fa-dashboard margin-r-5"></i>
                    <span>@Localizer[ResourceKeys.Dashboard]</span>
                </a>
            </li>
            @if (User.IsAdmin())
            {
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i>
                        <span>@Localizer[ResourceKeys.UserAccounts]</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a asp-route="@UserRoutes.Index"><i class="fa fa-chevron-circle-right margin-r-5"></i>@Localizer[ResourceKeys.Users]</a></li>
                        <li><a asp-route="@RoleRoutes.Index"><i class="fa fa-chevron-circle-right margin-r-5"></i>@Localizer[ResourceKeys.Roles]</a></li>
                        <li><a asp-route="@AccountRoutes.Profile"><i class="fa fa-chevron-circle-right margin-r-5"></i>@Localizer[ResourceKeys.Profile]</a></li>
                        <li><a asp-route="@SettingsRoutes.AuthenticationSettings"><i class="fa fa-chevron-circle-right margin-r-5"></i>@Localizer[ResourceKeys.Setting]</a></li>
                    </ul>
                </li>
            }
            <li>
                <a asp-route="@HomeRoutes.About">
                    <i class="fa fa-circle-o text-aqua"></i>
                    <span>About</span>
                </a>
            </li>
        </ul>
    </section>
</aside>